table {
  width: 100vw;
  background-color: #24242A;;
}

.equipment_id {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #00FFFF;
}

::ng-deep {
  .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    color: white;
  }

  .mat-paginator-icon,.mat-select-arrow,.mat-select-value, .mat-header-cell, .mat-cell {
    color: white;
  }

  .mat-paginator-container {
    background-color: #24242A;;
  }
}
