.search-form {
  width: 100%;
  background: #24242A;
}

.range_picker{
  width: 152px
}

.search-btn{
  margin-left: 12px;
  width: 100px;
  background: #0075FF;
  border-radius: 10px;
  color: #FFFFFF;
}

.reset_btn{
  margin-left: 12px;
  width: 100px;
  border: 1px solid #0075FF;
  border-radius: 10px;
  color: #0075FF;
}
::ng-deep{
  .mat-form-field-infix{
    height: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #888888;
  }
}
