<div class="main">
  <div class="head">
    <nav mat-tab-nav-bar class="head_left">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.link"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         (click)="$event.preventDefault()"
      >
        {{link.label}}
      </a>
    </nav>
    <div class="head_center">
      <img src="../assets/images/university_logo.png" alt="中南民族大学" class="head_center_logo"/>
      <img src="../assets/images/head_center_text.png" alt="大学生健康监测平台" class="head_center_text"/>
    </div>
        <div class="head_right">
          <div class="head_right_text">
            <img class="head_icon" src="../assets/images/time.png" alt="时间"/>
            <span class="head_span">{{date | date:'h:mm:ss'}}</span>
          </div>
          <div class="head_right_text">
            <img class="head_icon" src="../assets/images/date.png" alt="日期"/>
            <span class="head_span">{{date | date: 'yyyy-MM-dd'}}</span>
          </div>
          <div class="head_right_text">
            <img class="head_icon" src="../assets/images/temp.png" alt="温度"/>
            <span class="head_span">16-26℃</span>
          </div>
        </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
