.home {
  .head {
    &_left {
      z-index: 2;
      top: -17px;
    }

    &_right {
      width: 314px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      top: -40px;
      z-index: 2;

      &_text{
        display: flex;
        flex-direction: row;
      }
    }

    &_icon {
      width: 16px;
      height: 16px;
    }

    &_span {
      color: #FFFFFF;
    }

    &_bg {
      width: 100%;
      transform: translateY(40px);
    }

    &_center {
      position: absolute;
      top: 17px;
      left: 50%;
      transform: translateX(-50%);

      &_logo {
        width: 133px;
        height: 32px;
      }

      &_text {
        width: 284px;
        height: 32px;
        margin-left: 15px;
      }
    }


    .menu {
      transform: translate(-32px, -23px);
      opacity: 1;
      //min-width: 100px;

      ::ng-deep {
        .mat-tab-link {
          width: 100px;
          height: 21px;
          min-width: 91px;
          font-size: 18px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 28px;
        }
        .mat-tab-label {

          &-active {
            width: 110px;
            height: 28px;
            font-size: 24px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #00FFFF;
            line-height: 28px;
          }
        }

      }
    }
  }
}
