<div class="home">
  <div class="head">
    <img src="../assets/images/head_bg.png" alt="" class="head_bg"/>
    <div class="head_center">
      <img src="../assets/images/university_logo.png" alt="中南民族大学" class="head_center_logo"/>
      <img src="../assets/images/head_center_text.png" alt="大学生健康监测平台" class="head_center_text"/>
    </div>
    <mat-grid-list cols="3" rowHeight="100px" class="head_left">
      <mat-grid-tile>
        <nav mat-tab-nav-bar class="menu">
          <a mat-tab-link
             *ngFor="let link of navLinks"
             [routerLink]="link.link"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive"
          >
            {{link.label}}
          </a>
        </nav>
        <!--<mat-tab-group mat-align-tabs="start" class="menu">
          <mat-tab label="首页监测" (click)="navigateTo('/home')" ></mat-tab>
          <mat-tab label="用户数据" (click)="navigateTo('/data')"></mat-tab>
          <mat-tab label="预警中心" (click)="navigateTo('/warn')"></mat-tab>
          <mat-tab label="设备配置" (click)="navigateTo('/equipment')"></mat-tab>
        </mat-tab-group>-->
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <div class="head_right">
          <div class="head_right_text">
            <img class="head_icon" src="../assets/images/time.png" alt="时间"/>
            <span class="head_span">{{date | date:'h:mm:ss'}}</span>
          </div>
          <div class="head_right_text">
            <img class="head_icon" src="../assets/images/date.png" alt="日期"/>
            <span class="head_span">{{date | date: 'yyyy-MM-dd'}}</span>
          </div>
          <div class="head_right_text">
            <img class="head_icon" src="../assets/images/temp.png" alt="温度"/>
            <span class="head_span">16-26℃</span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
