.main {
  background-image: url(../assets/images/head_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 26px;
  background-position-x: center;

  .head {
    height: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    &_left {

      ::ng-deep {
        .mat-tab-link {
          width: 100px;
          height: 21px;
          min-width: 91px;
          font-size: 18px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 28px;
        }

        .mat-tab-label {

          &-active {
            width: 110px;
            height: 28px;
            font-size: 24px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #00FFFF;
            line-height: 28px;
          }
        }
      }
    }

    &_right {
      width: 314px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 32px;

      &_text {
        display: flex;
        flex-direction: row;
      }
    }

    &_icon {
      width: 16px;
      height: 16px;
    }

    &_span {
      color: #FFFFFF;
    }

    &_bg {
      width: 100%;
      transform: translateY(40px);
    }

    &_center {
      position: absolute;
      top: 17px;
      left: 50%;
      transform: translateX(-50%);

      &_logo {
        width: 133px;
        height: 32px;
      }

      &_text {
        width: 284px;
        height: 32px;
        margin-left: 15px;
      }
    }


  }
}
